<section>
    <label>Server name</label>
    <!--<input 
        type="text"
        class="form-control"
        (input)="onUpdateServerName($event)"> -->
    <input 
        type="text"
        class="form-control"
        [(ngModel)]="ServerName">
    <button 
    [disabled]="!allowNewServer" 
    class="btn btn-primary"
    (click)="onCreateServer()">Add Server</button>
    <hr>
   <!-- <p class="sisennys">{{ ServerName }}</p> -->
    <p class="sisennys">{{ ServerCreationStatus }}</p>
    <app-server></app-server>
</section>